* {
	margin: 0;
	padding: 0;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}

body {
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
	position: relative;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.initial {
	background: #5b96b8;
}

.start {
	background: #5bb875;
}

.pause {
	background: #acb85b;
}

.stop {
	background: #b85b5b;
}

.painel {
	width: 100%;
	text-align: center;
	display: block;
	color: #fff;
	font-weight: 300;
	position: relative;
	top: 10px;
}

.painel .time {
	position: relative;
	font-size: 95px;
}

.painel .volta {
	margin-top: 20px;
	font-size: 20px;
	list-style-type: decimal;
	line-height: 20px;
}

.painel button#volta {
	border: 0;
	padding: 10px 30px;
	background: #3f3f3f;
	border-radius: 5px;
	box-shadow: 0 3px 0 #000;
	color: #fff;
	font-size: 18px;
	position: relative;
}

.painel button#volta:active {
	top: 3px;
	box-shadow: none;
}

.controller {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.controller ul {
	width: 100%;
	background: #fff;
	position: relative;
	display: block;
}

.controller ul#wrapper.show {
	display: block;
}

.controller ul li {
	width: 25%;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0 -6px 0 0;
	list-style: none;
	font-size: 17px;
	font-weight: 300;
	color: #636466;
	border-left: 1px solid #b2b2b2;
	padding: 12px 0;
	position: relative;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}

.controller ul li:first-child {
	border-left: 0;
}

.controller ul li:hover {
	background: #f2f2f2;
}

.controller ul li:before {
	content: "";
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	background: transparent url(img/sprite.png) no-repeat;
	padding: 0 15px 0 0;
	margin: 0 0 0 15px;
}

.controller ul li#start:before {
	background-position:  -1px -101px;
}

.controller ul li#pause:before {
	background-position: -1px -141px;
}

.controller ul li#stop:before {
	background-position: -1px -182px;
}

.controller ul li#reset:before {
	background-position: 0 -222px;
}

@media screen and ( max-width:485px ) {

	.controller ul li span {
		display: none;
	}

	.controller ul li:before {
		display: block;
		margin: 0 auto 0;
		padding: 0;
	}

}